/*General Content*/

body {
  font-family:  Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

 /*Header*/

header {
  border-bottom: 1px solid seashell;
  display: flex;
  position: fixed;
  bottom: 486px;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  margin-bottom: 69px;
  text-align: center;
  height: 69px;
  width: 100%;
  background-color: black;
}

header .logo {
  height: 50px;
  padding-left: 10px;
  padding-right: 800px;
}

nav {
  display: flex;
  text-decoration: underline;
  padding: 6px;
}

a {
  color: white;
  padding: 10px;
}

/*Our Mission*/

.our-mission {
  display: inline;
  align-items: center;
  position: relative;
  top: 69px;
}

.black-text {
  position: relative;
  display: block;
  flex-flow: row wrap;
  top: 249px;
  z-index: 2;
  background-color: black;
  height: 100px;
  width: 1200px;
  margin: 0 auto;
  padding: 0px;
}

.background {
  position: relative;
  bottom: 126px;
  height: 700px;
  width: 1200px;
}

/*Tea of the Month*/

.tea-of-month {
  display: inline-block;
  width: 1000px;
}

.pictures {
  width: 300px;
  height: 200px;
}

.teas {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/*Locations*/

.locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
}

.boxes {
  display: inline-flex;
}

.box {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  width: 300px;
  height: 300px;
  margin: 15px 20px;
  opacity: 1;
}
